[submodule "metroproto"]
	path = metroproto
	url = https://github.com/MetrolistGroup/metroproto
[submodule "app/src/main/cpp/coverart"]
	path = app/src/main/cpp/coverart
	url = https://github.com/MetrolistGroup/metrolist-coverart-lib.git
